:root {
	--vp-c-brand: #ad9e6e;
	--vp-c-brand-light: #c6bfa6;
	--vp-c-brand-lighter: #e0d8bb;
	--vp-c-brand-dark: #93875e;
	--vp-c-brand-darker: #7a6f4e;
	--vp-c-bg-alpha-with-backdrop: rgba(0, 40, 85, 0.10);
	/*--vp-c-bg-alpha-without-backdrop: rgba(0, 40, 85, 0.95);*/
}

mjx-container>svg {
	display: inline-block;
}

div.youtube {
	max-width: 853px; margin: 0 auto; padding: 0;
}

div.youtube div {
	position: relative; padding-bottom: 56.25%; height: 0;
}

div.youtube div iframe {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
